<span style='color: #000'>154 frames</span>	<span style='color: #900'>8,192 KB</span>	<span style='color: #090'>586.93 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #0c0'>OFF</span></span><br />
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  Illegal string offset 'hex'</p>
<p>Filename: include/style.cls.php</p>
<p>Line Number: 1418</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/style.cls.php<br />
			Line: 1418<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/style.cls.php<br />
			Line: 682<br />
			Function: set_color			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1299<br />
			Function: __set			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1327<br />
			Function: _parse_properties			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1077<br />
			Function: _parse_sections			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 307<br />
			Function: _parse_css			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 570<br />
			Function: load_css_file			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 696<br />
			Function: _process_html			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/controllers/Admin.php<br />
			Line: 206<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  Illegal string offset 'hex'</p>
<p>Filename: include/style.cls.php</p>
<p>Line Number: 1418</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/style.cls.php<br />
			Line: 1418<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/style.cls.php<br />
			Line: 682<br />
			Function: set_color			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1299<br />
			Function: __set			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1327<br />
			Function: _parse_properties			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1077<br />
			Function: _parse_sections			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 307<br />
			Function: _parse_css			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 570<br />
			Function: load_css_file			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 696<br />
			Function: _process_html			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/controllers/Admin.php<br />
			Line: 206<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  Illegal string offset 'hex'</p>
<p>Filename: include/style.cls.php</p>
<p>Line Number: 1418</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/style.cls.php<br />
			Line: 1418<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/style.cls.php<br />
			Line: 682<br />
			Function: set_color			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1299<br />
			Function: __set			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1327<br />
			Function: _parse_properties			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1077<br />
			Function: _parse_sections			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 307<br />
			Function: _parse_css			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 570<br />
			Function: load_css_file			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 696<br />
			Function: _process_html			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/controllers/Admin.php<br />
			Line: 206<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  Illegal string offset 'hex'</p>
<p>Filename: include/style.cls.php</p>
<p>Line Number: 1418</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/style.cls.php<br />
			Line: 1418<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/style.cls.php<br />
			Line: 682<br />
			Function: set_color			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1299<br />
			Function: __set			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1327<br />
			Function: _parse_properties			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1077<br />
			Function: _parse_sections			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 307<br />
			Function: _parse_css			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 570<br />
			Function: load_css_file			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 696<br />
			Function: _process_html			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/controllers/Admin.php<br />
			Line: 206<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  Illegal string offset 'hex'</p>
<p>Filename: include/style.cls.php</p>
<p>Line Number: 1418</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/style.cls.php<br />
			Line: 1418<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/style.cls.php<br />
			Line: 682<br />
			Function: set_color			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1299<br />
			Function: __set			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1327<br />
			Function: _parse_properties			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1077<br />
			Function: _parse_sections			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 307<br />
			Function: _parse_css			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 570<br />
			Function: load_css_file			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 696<br />
			Function: _process_html			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/controllers/Admin.php<br />
			Line: 206<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  Illegal string offset 'hex'</p>
<p>Filename: include/style.cls.php</p>
<p>Line Number: 1418</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/style.cls.php<br />
			Line: 1418<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/style.cls.php<br />
			Line: 682<br />
			Function: set_color			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1299<br />
			Function: __set			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1327<br />
			Function: _parse_properties			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1077<br />
			Function: _parse_sections			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 307<br />
			Function: _parse_css			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 570<br />
			Function: load_css_file			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 696<br />
			Function: _process_html			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/controllers/Admin.php<br />
			Line: 206<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  Illegal string offset 'hex'</p>
<p>Filename: include/style.cls.php</p>
<p>Line Number: 1418</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/style.cls.php<br />
			Line: 1418<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/style.cls.php<br />
			Line: 682<br />
			Function: set_color			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1299<br />
			Function: __set			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1327<br />
			Function: _parse_properties			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1077<br />
			Function: _parse_sections			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 307<br />
			Function: _parse_css			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 570<br />
			Function: load_css_file			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 696<br />
			Function: _process_html			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/controllers/Admin.php<br />
			Line: 206<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  Illegal string offset 'hex'</p>
<p>Filename: include/style.cls.php</p>
<p>Line Number: 1418</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/style.cls.php<br />
			Line: 1418<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/style.cls.php<br />
			Line: 682<br />
			Function: set_color			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1299<br />
			Function: __set			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1327<br />
			Function: _parse_properties			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1077<br />
			Function: _parse_sections			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 307<br />
			Function: _parse_css			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 570<br />
			Function: load_css_file			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 696<br />
			Function: _process_html			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/controllers/Admin.php<br />
			Line: 206<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  Illegal string offset 'hex'</p>
<p>Filename: include/style.cls.php</p>
<p>Line Number: 1418</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/style.cls.php<br />
			Line: 1418<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/style.cls.php<br />
			Line: 682<br />
			Function: set_color			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1299<br />
			Function: __set			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1327<br />
			Function: _parse_properties			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1077<br />
			Function: _parse_sections			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 307<br />
			Function: _parse_css			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 570<br />
			Function: load_css_file			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 696<br />
			Function: _process_html			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/controllers/Admin.php<br />
			Line: 206<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  Illegal string offset 'hex'</p>
<p>Filename: include/style.cls.php</p>
<p>Line Number: 1418</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/style.cls.php<br />
			Line: 1418<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/style.cls.php<br />
			Line: 682<br />
			Function: set_color			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1299<br />
			Function: __set			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1327<br />
			Function: _parse_properties			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1077<br />
			Function: _parse_sections			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 307<br />
			Function: _parse_css			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 570<br />
			Function: load_css_file			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 696<br />
			Function: _process_html			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/controllers/Admin.php<br />
			Line: 206<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  Illegal string offset 'hex'</p>
<p>Filename: include/style.cls.php</p>
<p>Line Number: 1418</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/style.cls.php<br />
			Line: 1418<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/style.cls.php<br />
			Line: 682<br />
			Function: set_color			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1299<br />
			Function: __set			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1327<br />
			Function: _parse_properties			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1077<br />
			Function: _parse_sections			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 307<br />
			Function: _parse_css			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 570<br />
			Function: load_css_file			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 696<br />
			Function: _process_html			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/controllers/Admin.php<br />
			Line: 206<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  Illegal string offset 'hex'</p>
<p>Filename: include/style.cls.php</p>
<p>Line Number: 1418</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/style.cls.php<br />
			Line: 1418<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/style.cls.php<br />
			Line: 682<br />
			Function: set_color			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1299<br />
			Function: __set			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1327<br />
			Function: _parse_properties			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1077<br />
			Function: _parse_sections			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 307<br />
			Function: _parse_css			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 570<br />
			Function: load_css_file			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 696<br />
			Function: _process_html			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/controllers/Admin.php<br />
			Line: 206<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  Illegal string offset 'hex'</p>
<p>Filename: include/style.cls.php</p>
<p>Line Number: 1418</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/style.cls.php<br />
			Line: 1418<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/style.cls.php<br />
			Line: 682<br />
			Function: set_color			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1299<br />
			Function: __set			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1327<br />
			Function: _parse_properties			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1077<br />
			Function: _parse_sections			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 307<br />
			Function: _parse_css			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 570<br />
			Function: load_css_file			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 696<br />
			Function: _process_html			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/controllers/Admin.php<br />
			Line: 206<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  Illegal string offset 'hex'</p>
<p>Filename: include/style.cls.php</p>
<p>Line Number: 1418</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/style.cls.php<br />
			Line: 1418<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/style.cls.php<br />
			Line: 682<br />
			Function: set_color			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1299<br />
			Function: __set			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1327<br />
			Function: _parse_properties			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1077<br />
			Function: _parse_sections			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 307<br />
			Function: _parse_css			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 570<br />
			Function: load_css_file			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 696<br />
			Function: _process_html			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/controllers/Admin.php<br />
			Line: 206<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  Illegal string offset 'hex'</p>
<p>Filename: include/style.cls.php</p>
<p>Line Number: 1418</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/style.cls.php<br />
			Line: 1418<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/style.cls.php<br />
			Line: 682<br />
			Function: set_color			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1299<br />
			Function: __set			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1327<br />
			Function: _parse_properties			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1077<br />
			Function: _parse_sections			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 307<br />
			Function: _parse_css			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 570<br />
			Function: load_css_file			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 696<br />
			Function: _process_html			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/controllers/Admin.php<br />
			Line: 206<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  Illegal string offset 'hex'</p>
<p>Filename: include/style.cls.php</p>
<p>Line Number: 1418</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/style.cls.php<br />
			Line: 1418<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/style.cls.php<br />
			Line: 682<br />
			Function: set_color			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1299<br />
			Function: __set			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1327<br />
			Function: _parse_properties			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1077<br />
			Function: _parse_sections			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 307<br />
			Function: _parse_css			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 570<br />
			Function: load_css_file			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 696<br />
			Function: _process_html			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/controllers/Admin.php<br />
			Line: 206<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/style.cls.php</p>
<p>Line Number: 477</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/style.cls.php<br />
			Line: 477<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/style.cls.php<br />
			Line: 2035<br />
			Function: length_in_pt			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/style.cls.php<br />
			Line: 2081<br />
			Function: set_transform			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/style.cls.php<br />
			Line: 682<br />
			Function: set__webkit_transform			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1299<br />
			Function: __set			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1327<br />
			Function: _parse_properties			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1077<br />
			Function: _parse_sections			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 307<br />
			Function: _parse_css			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 570<br />
			Function: load_css_file			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 696<br />
			Function: _process_html			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/controllers/Admin.php<br />
			Line: 206<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  Illegal string offset 'hex'</p>
<p>Filename: include/style.cls.php</p>
<p>Line Number: 1418</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/style.cls.php<br />
			Line: 1418<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/style.cls.php<br />
			Line: 682<br />
			Function: set_color			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1299<br />
			Function: __set			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1327<br />
			Function: _parse_properties			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 1077<br />
			Function: _parse_sections			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/stylesheet.cls.php<br />
			Line: 307<br />
			Function: _parse_css			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 570<br />
			Function: load_css_file			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 696<br />
			Function: _process_html			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/controllers/Admin.php<br />
			Line: 206<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/table_cell_frame_reflower.cls.php</p>
<p>Line Number: 99</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/table_cell_frame_reflower.cls.php<br />
			Line: 99<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/table_row_frame_reflower.cls.php<br />
			Line: 41<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/table_row_group_frame_reflower.cls.php<br />
			Line: 38<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/table_frame_reflower.cls.php<br />
			Line: 469<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/controllers/Admin.php<br />
			Line: 206<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/table_cell_frame_reflower.cls.php</p>
<p>Line Number: 99</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/table_cell_frame_reflower.cls.php<br />
			Line: 99<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/table_row_frame_reflower.cls.php<br />
			Line: 41<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/table_row_group_frame_reflower.cls.php<br />
			Line: 38<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/table_frame_reflower.cls.php<br />
			Line: 469<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/controllers/Admin.php<br />
			Line: 206<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/table_cell_frame_reflower.cls.php</p>
<p>Line Number: 99</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/table_cell_frame_reflower.cls.php<br />
			Line: 99<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/table_row_frame_reflower.cls.php<br />
			Line: 41<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/table_row_group_frame_reflower.cls.php<br />
			Line: 38<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/table_frame_reflower.cls.php<br />
			Line: 469<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/controllers/Admin.php<br />
			Line: 206<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/table_cell_frame_reflower.cls.php</p>
<p>Line Number: 99</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/table_cell_frame_reflower.cls.php<br />
			Line: 99<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/table_row_frame_reflower.cls.php<br />
			Line: 41<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/table_row_group_frame_reflower.cls.php<br />
			Line: 38<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/table_frame_reflower.cls.php<br />
			Line: 469<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/controllers/Admin.php<br />
			Line: 206<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/table_cell_frame_reflower.cls.php</p>
<p>Line Number: 99</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/table_cell_frame_reflower.cls.php<br />
			Line: 99<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/table_row_frame_reflower.cls.php<br />
			Line: 41<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/table_row_group_frame_reflower.cls.php<br />
			Line: 38<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/table_frame_reflower.cls.php<br />
			Line: 469<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/controllers/Admin.php<br />
			Line: 206<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/table_cell_frame_reflower.cls.php</p>
<p>Line Number: 99</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/table_cell_frame_reflower.cls.php<br />
			Line: 99<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/table_row_frame_reflower.cls.php<br />
			Line: 41<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/table_row_group_frame_reflower.cls.php<br />
			Line: 38<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/table_frame_reflower.cls.php<br />
			Line: 469<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/controllers/Admin.php<br />
			Line: 206<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/table_cell_frame_reflower.cls.php</p>
<p>Line Number: 99</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/table_cell_frame_reflower.cls.php<br />
			Line: 99<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/table_row_frame_reflower.cls.php<br />
			Line: 41<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/table_row_group_frame_reflower.cls.php<br />
			Line: 38<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/table_frame_reflower.cls.php<br />
			Line: 469<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/controllers/Admin.php<br />
			Line: 206<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/table_cell_frame_reflower.cls.php</p>
<p>Line Number: 99</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/table_cell_frame_reflower.cls.php<br />
			Line: 99<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/table_row_frame_reflower.cls.php<br />
			Line: 41<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/table_row_group_frame_reflower.cls.php<br />
			Line: 38<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/table_frame_reflower.cls.php<br />
			Line: 469<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/application/controllers/Admin.php<br />
			Line: 206<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /opt/lampp/htdocs/mapsatol/index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>